@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes fade1 {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade2 {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes bigger {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.25;
  }
}

@keyframes smallerr {
  0% {
    scale: 1.25;
  }
  100% {
    scale: 1;
  }
}

@keyframes highlight {
  0% {
    color: goldenrod; /* Set the color you want for the highlight */
  }
  50% {
    color: white; /* Same color to create a solid highlight */
  }
  100% {
    color: goldenrod; /* Set the original text color */
  }
}
body {
  background-image: url(../public/background.jpg);
  background-color: darkgreen;
  font-family: 'Playfair Display', serif;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);;
  font-family: 'Playfair Display', serif;
}

.title {
  display: flex;
  margin-left: 20px;
  gap: 1vw;
}

.title-element {
  color: goldenrod;
  font-size: 48px;
  margin:auto;
}

.image {
  height: 16vh;
  width: 8vw;
  margin-top: 20px;
  animation: rotateY 6s linear infinite;
}

.navbar {
  display: flex;
  gap: 4vw;
  background-color: rgba(0, 100, 0, 0.75);
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
}

.nav-element{
  color: goldenrod;
  font-size: 48px;
}

.welcome-container {
  justify-content: center;
  text-align: center;
  color: goldenrod;
  margin-top: 5vh;
  font-size: 32px;
  animation-name: fade1;
  animation-duration: 3s;
}

.welcome-to {
  margin: 0%;
}

.choice-container {
  display: flex;
  gap: 5vw;
  margin-top: 5vh;
  justify-content: center;
  animation-name: fade1;
  animation-duration: 3s;
}

.choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 15vw;
}

.choice:hover {
  animation: bigger;
  animation-duration: 1s;
  scale: 1.25;
}

.choice-text {
  text-align: center;
  color: goldenrod;
  font-weight: 600;
  font-size: 24pt;
}

.choice-img {
  width: 10vw;
  height: 25vh;
  justify-content: center;
}

.war-title {
  font-size: 48pt;
  color: goldenrod;
  text-align: center;
  animation-name: fade1;
  animation-duration: 3s;
  margin-bottom: 0px;
}

.war-container {
  display: flex;
  justify-content: center;
  gap: 10vw;
  animation-name: fade1;
  animation-duration: 3s;
}

.play-btn {
  margin-top: 5vh;
  font-size: 36pt;
  color: goldenrod;
  background-color: rgba(0, 100, 0 , 0.75);
  border-radius: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
  animation-name: fade1;
  animation-duration: 3s;
}

.players-cont {
  display: flex;
  gap: 10vw;
  justify-content: center;
  color: goldenrod;
  margin-top: 0px;
}

.rounds-container {
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.rounds-element {
  font-size: 36pt;
  color: goldenrod;
  background-color: rgba(0, 100, 0 , 0.75);
  border-radius: 20%;
  width: 5vw;
}

.war-card1 {
  width: 10vw;
  height: 25vh;
  animation-name: fade1;
  animation-duration: 3s;
}

.war-card2 {
  width: 10vw;
  height: 25vh;
  animation-name: fade2;
  animation-duration: 3s;
}

.winner {
  color: goldenrod;
  text-align: center;
}

.cards-container {
  display: flex;
  gap: 10vw;
  justify-content: center;
  animation-name: fade;
  animation-duration: 3s;
}

.game-container {
  display: flex;
  gap: 10vw;
  justify-content: center;
}

.player-container {
  display: flex;
  flex-direction: column;
}

.player1-cards {
  display: flex;
  justify-content: center;
}

.player1 {
  animation-name: fade1;
  animation-duration: 3s;
}
.player2 {
  animation-name: fade1;
  animation-duration: 3s;
}

.rum-text {
  color: goldenrod;
  font-size: 32pt;
  text-align: center;
  margin-top: 5pt;
  animation: fade1 3s;
}

.players-cards {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
}
.player2-cards {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
  height: 10vh;
}

.players-card {
  width: 8vw;
  height: 20vh; /* Set the initial size to 20%, minus some space for margins/padding */ /* Include padding and border in the element's total width and height */
}

.options-container {
  display: flex;
  gap: 2vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.players-card:hover {
  animation: bigger;
  animation-duration: 1s;
  scale: 1.25;
}

.stock-container {
  display: flex;
}

.draw-card {
  font-size: 36pt;
  color: goldenrod;
  animation: highlight 1.5s linear infinite;

}

.meld-title {
  color: goldenrod;
  font: 24pt;
  animation: highlight 1.5s linear infinite;
}

.meld-cards {
  display: flex;
  gap: 0%;
}

.meld-run-container {
  display: flex;
  justify-content: center;
  gap: 5vw;
  margin-top: 0;
}

.mr-cards {
  text-align: center;
}