@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes fade1 {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade2 {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

body {
  background-image: url(../public/background.jpg);
  background-color: darkgreen;
  font-family: 'Playfair Display', serif;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);;
  font-family: 'Playfair Display', serif;
}

.title {
  display: flex;
  margin-left: 20px;
  gap: 1vw;
}

.title-element {
  color: goldenrod;
  font-size: 48px;
}

.image {
  height: 16vh;
  width: 8vw;
  margin-top: 20px;
  animation: rotateY 6s linear infinite;
}

.navbar {
  display: flex;
  gap: 4vw;
  background-color: rgba(0, 100, 0, 0.75);
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
}

.nav-element{
  color: goldenrod;
  font-size: 48px;
}

.welcome-container {
  justify-content: center;
  text-align: center;
  color: goldenrod;
  margin-top: 5vh;
  font-size: 32px;
  animation-name: fade;
  animation-duration: 3s;
}

.welcome-to {
  margin: 0%;
}

.choice-container {
  display: flex;
  gap: 5vw;
  margin-top: 5vh;
  justify-content: center;
  animation-name: fade;
  animation-duration: 3s;
}

.choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 15vw;
}

.choice-text {
  text-align: center;
  color: goldenrod;
  font-weight: 600;
  font-size: 24pt;
}

.choice-img {
  width: 10vw;
  height: 25vh;
  justify-content: center;
}

.war-title {
  font-size: 48pt;
  color: goldenrod;
  text-align: center;
  animation-name: fade;
  animation-duration: 3s;
  margin-bottom: 0px;
}

.war-container {
  display: flex;
  justify-content: center;
  gap: 10vw;
  animation-name: fade;
  animation-duration: 3s;
}

.play-btn {
  margin-top: 5vh;
  font-size: 36pt;
  color: goldenrod;
  background-color: rgba(0, 100, 0 , 0.75);
  border-radius: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
  animation-name: fade;
  animation-duration: 3s;
}

.players-cont {
  display: flex;
  gap: 10vw;
  justify-content: center;
  color: goldenrod;
  margin-top: 0px;
}

.war-card1 {
  width: 10vw;
  height: 25vh;
  animation-name: fade1;
  animation-duration: 3s;
}

.war-card2 {
  width: 10vw;
  height: 25vh;
  animation-name: fade2;
  animation-duration: 3s;
}

.winner {
  color: goldenrod;
  text-align: center;
}

.cards-container {
  display: flex;
  gap: 10vw;
  justify-content: center;
  animation-name: fade;
  animation-duration: 3s;
}

.game-container {
  display: flex;
  gap: 5vw;
  justify-content: center;
}

.player-container {
  display: flex;
  flex-direction: column;
}

.player1-cards {
  display: flex;
  justify-content: center;
}

.player1 {
  animation-name: fade;
  animation-duration: 3s;
}
.player2 {
  animation-name: fade;
  animation-duration: 3s;
}